:root {
  --gay-color: purple;
}

body {
  text-align: center;
  overflow: scroll;
}

h1 {
  color: hotpink;
  font-family: cursive;
  font-size: 55px;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5em;
}

a {
  color: dodgerblue;
}
ol {
  margin: 0;
  padding: 0
}

table td,
table th {
  padding: 0
}

.c11 {
  border-right-style: solid;
  padding: 5pt 5pt 5pt 5pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 1pt;
  border-top-style: solid;
  background-color: #f9cb9c;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 437.2pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c13 {
  border-right-style: solid;
  padding: 5pt 5pt 5pt 5pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 1pt;
  border-top-style: solid;
  background-color: #f4cccc;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 33pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c15 {
  border-right-style: solid;
  padding: 5pt 5pt 5pt 5pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 1pt;
  border-top-style: solid;
  background-color: #f4cccc;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 437.2pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c8 {
  border-right-style: solid;
  padding: 5pt 5pt 5pt 5pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 1pt;
  border-top-style: solid;
  background-color: #b6d7a8;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 33pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c4 {
  border-right-style: solid;
  padding: 5pt 5pt 5pt 5pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 1pt;
  border-top-style: solid;
  background-color: #f9cb9c;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 33pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c14 {
  border-right-style: solid;
  padding: 5pt 5pt 5pt 5pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 1pt;
  border-top-style: solid;
  background-color: #ffe599;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 33pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c7 {
  border-right-style: solid;
  padding: 5pt 5pt 5pt 5pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 1pt;
  border-top-style: solid;
  background-color: #ffe599;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 437.2pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c9 {
  border-right-style: solid;
  padding: 5pt 5pt 5pt 5pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 1pt;
  border-top-style: solid;
  background-color: #b6d7a8;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 437.2pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c2 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
  height: 11pt
}

.c10 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal
}

.c0 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal
}

.c5 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: center
}

.c1 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c12 {
  border-spacing: 0;
  border-collapse: collapse;
  margin-right: auto
}

.c6 {
  background-color: #ffffff;
  max-width: 468pt;
  padding: 72pt 72pt 72pt 72pt
}

.c3 {
  height: 0pt
}

.title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

li {
  color: #000000;
  font-size: 11pt;
  font-family: "Arial"
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #242526;
  color: white;
  text-align: center;
  margin-top: 30px;
}
.submit {
  background-color: #64DD17;
  border: 2px groove black;
}
.clear {
  background-color: #d50000;
  border: 2px groove black;
}
.panel {
  background-color: #ECEFF1;
  border: 1px groove black;
  height: fit-content;
  width: fit-content;
  margin-bottom: 15px;
  display: inline-block
}
.navbar {
  background-color: #666;
  height: 30px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.navbar a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
  
}
.title {
  color: white;
  font-size: 24px;
  letter-spacing: 3px;
  text-align: left;
  margin: 0 auto;
  width: 75%
}
.buttons {
width: 25%;
text-align: right
}
